.slider-container {
	 max-width: 1000px;
	 padding: 2rem 3rem;
	 margin: 2rem auto 0 auto;
	 overflow: hidden;
	 position: relative;
}
 .slider-container:before {
	 position: absolute;
	 left: 0;
	 top: 0;
}
 img {
	 display: inline-block;
	 vertical-align: top;
	 max-width: 100%;
}
 .my-slider {
	 position: relative;
}
 .slider-item {
	 padding: 1.5rem 0.75rem;
	 position: relative;
}
 .slider-item:before {
	 position: absolute;
	 left: 0;
	 top: 0;
	 color: blue;
}
 .slider-item:hover {
	 cursor: pointer;
}

.tns-controls {
    text-align: center
}
.tns-nav {
    text-align: center
}

[data-action="stop"] {
    margin:0 auto;
    display:block;
}
[data-action="start"] {
    margin:0 auto;
    display:block;
}

 .card {
	 text-align: justify;
	 margin: 0 auto;
	 max-width: 500px;
	 color: #333;
	 background: white;
	 border-radius: 5rem;
	 padding-bottom: 0.75rem;
	 font-family: sans-serif;
	 overflow: hidden;
	 position: relative;
}
 .card:before {
	 position: absolute;
	 bottom: 0;
	 color: blue;
}
 .card img {
	 margin-bottom: 0.25rem;
}
 .card h1 {
	 text-align: center;
	 margin: 0 0 0.25rem;
}
 .card p {
	 margin: 0;
	 padding: 0 0.5rem;
}
